
.DS_Store
.AppleDouble
.LSOverride
._*


xcuserdata/
*.xcuserstate
project.xcworkspace/
*.xccheckout


build/
DerivedData/
*.hmap
.build/


*.xcarchive
*.ipa
*.dmg
*.dSYM.zip
*.dSYM


.swiftpm/


Pods/
